# .DS_Store
# .env
# *.pyc
# __pycache__/
# .ipynb_checkpoints/

# testbook.ipynb


# Ignore everything:
*

# Except for the themes directories:

!app.py
!demo.py
!Profile
!requirements.txt

!data/
!.mapbox_token
!ReadMe.txt