.DS_Store
.env
*.pyc
__pycache__/
.ipynb_checkpoints/

testbook.ipynb
app2.py

data/archive/

app_trend_analysis.sublime-project
app_trend_analysis.sublime-workspace

# # Ignore everything:
# *

# # Except for the themes directories:

# !app.py
# !demo.py
# !Profile
# !requirements.txt

# !data/
# !ReadMe.txt
# !.mapbox_token
